# Debut du Projet : KaggleHub

# I -

In [ ]:

#!/usr/bin/env python3


import kagglehub
import pandas as pd
import shutil
import os

# Téléchargement et affichage du jeu de données "Coffee Sales" depuis Kaggle
# Assurez-vous d'avoir installé kagglehub avec `pip install kagglehub`
def download_dataset(path):
    df = None
    try:
        path = kagglehub.dataset_download("ahmedabbas757/coffee-sales")
        
        files = os.listdir(path)
        excel_files = [f for f in files if f.endswith('.xlsx')]
        
        if excel_files:
            df = pd.read_excel(f"{path}/{excel_files[0]}")
            shutil.rmtree(path)
        else:
            print("Aucun fichier CSV trouvé dans le dossier téléchargé.")
        
    except Exception as e:
        print(f"Erreur : {e}")

    return df

download_dataset("coffee_sales")


df = download_dataset("coffee_sales")
df.head

Downloading from https://www.kaggle.com/api/v1/datasets/download/ahmedabbas757/coffee-sales?dataset_version_number=1...

100%|██████████| 8.23M/8.23M [00:00<00:00, 9.54MB/s]

Extracting files...

Downloading from https://www.kaggle.com/api/v1/datasets/download/ahmedabbas757/coffee-sales?dataset_version_number=1...

100%|██████████| 8.23M/8.23M [00:00<00:00, 9.56MB/s]

Extracting files...

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

# I - execo

In [ ]:
import pandas as pd
from io import StringIO
import psycopg2
import kagglehub
import shutil
import os

df = pd.read_excel("coffe_sales_.xlsx")
print('shape :',df.shape)
colonnes = df.columns.to_list()
print(f"{len(colonnes)}colonnes : {colonnes}")
df.head()

# II - Creation de la BDD

In [ ]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from io import StringIO
import psycopg2
import kagglehub
import shutil
import os

df = pd.read_excel("coffe_sales_.xlsx")
print('donné du csv brut :',df.shape)
colonnes = df.columns.to_list()
print(f"{len(colonnes)}colonnes : {colonnes}")
df.head()

# Connexion à la base postgres (par défaut pour créer une autre base)
conn = psycopg2.connect(
    host="localhost",
    dbname="postgres",
    user="postgres",
    password="1212",
    port="5432",
)
conn.autocommit = True
cur = conn.cursor()

# Vérifie si la BDD existe déjà
cur.execute("SELECT 1 FROM pg_database WHERE datname = 'coffee_sales'")
exists = cur.fetchone()

if not exists:
    cur.execute("CREATE DATABASE coffee_sales ENCODING 'LATIN1';")
    print("Base 'coffee_sales' créée.")
else:
    print("La base 'coffee_sales' existe déjà.")

cur.close()
conn.close()

# Connexion à la base coffee_sales
comm = psycopg2.connect(
    dbname="coffee_sales",
    user="postgres",
    password="1212",
    host="localhost",
    port="5432"
)

cur = comm.cursor()
cur.execute("SELECT 1")
if cur.fetchone():
    print("Connexion à la base 'coffee_sales' réussie.")
cur.close()
comm.close()

# Création de la table à partir du DataFrame
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')

## Envoi du DataFrame dans la BDD
df.to_sql(
    'coffee_sales', 
    engine, if_exists='replace',
    chunksize=1700, # insertion par bloc de 1700 lignes pour éviter les erreurs de mémoire
    index=False
)
print("Table 'coffee_sales' créée avec succès.")


query = '''select * from coffee_sales;'''
tables_check = """ SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'
"""
df = pd.read_sql("SELECT * FROM coffee_sales", engine)
tables_check =pd.read_sql(tables_check, engine)
display(tables_check)
dfcopy = df.copy()
dfcopy.head()

# III - Cleaned data et enrichissement des données

In [ ]:
import locale
import time
locale.setlocale(locale.LC_TIME, 'en_EN.UTF-8')
from geopy.geocoders import Nominatim
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from io import StringIO
import kagglehub
import shutil
import os


df = pd.read_excel("coffe_sales_.xlsx")
print('nombre de lignes du csv brute :',df.shape)
colonnes = df.columns.to_list()
print(f"{len(colonnes)}colonnes : {colonnes}")
df.head()

# Connexion à la base postgres (par défaut pour créer une autre base)
conn = psycopg2.connect(
    host="localhost",
    dbname="postgres",
    user="postgres",
    password="1212",
    port="5432",
)
conn.autocommit = True
cur = conn.cursor()

# Vérifie si la BDD existe déjà
cur.execute("SELECT 1 FROM pg_database WHERE datname = 'coffee_sales'")
exists = cur.fetchone()

if not exists:
    cur.execute("CREATE DATABASE coffee_sales ENCODING 'LATIN1';")
    print("Base 'coffee_sales' créée.")
else:
    print("La base 'coffee_sales' existe déjà.")

cur.close()
conn.close()

# instance de Connexion à la base coffee_sales
comm = psycopg2.connect(
    dbname="coffee_sales",
    user="postgres",
    password="1212",
    host="localhost",
    port="5432"
)

cur = comm.cursor()
cur.execute("SELECT 1")
if cur.fetchone():
    print("Connexion à la base 'coffee_sales' réussie.")
cur.close()
comm.close()

# Création de la table à partir du DataFrame
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')

## Envoi du DataFrame dans la BDD
df.to_sql(
    'coffee_sales', 
    engine, if_exists='replace',
    chunksize=1700, # insertion par bloc de 1700 lignes pour éviter les erreurs de mémoire
    index=False
)
print("Table 'coffee_sales' créée avec succès.")


query = '''select * from coffee_sales;'''
tables_check = """ SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'
"""
df = pd.read_sql("SELECT * FROM coffee_sales", engine)
tables_check =pd.read_sql(tables_check, engine)
display(tables_check)
dfcopy = df.copy() # on cré une copie de notre df pour avoir un df 'backup' des données brutes

# oncré une colonne "recipe" qui nous aidera à calculer la recettes

dfcopy["recipe"]= dfcopy["transaction_qty"] * dfcopy["unit_price"] 

# convertissons la colonne transaction_date en datetime

dfcopy["transaction_date"] = pd.to_datetime(dfcopy["transaction_date"])
#dfcopy["transaction_time"] = pd.to_datetime(dfcopy["transaction_time"])

# on cré les colonne temporelles pour affiné nos métrique

dfcopy["hour"] = pd.to_datetime(dfcopy["transaction_time"], format="%H:%M:%S").dt.hour# heure de la journée
dfcopy["day"] = dfcopy["transaction_date"].dt.day # jour du mois
dfcopy["month"] = dfcopy["transaction_date"].dt.strftime("%B") # mois de l'année
dfcopy["weekday"] = dfcopy["transaction_date"].dt.strftime("%A") # jour de la semaine
dfcopy["year"]=dfcopy["transaction_date"].dt.year 

# on cree une colonne  avec la date complète pour faciliter l'analyse et on supprimme l'ancienne colonne transaction_date

dfcopy['full_date'] = dfcopy['transaction_date'].dt.strftime('%A, %#d %B %Y') +' '+ dfcopy['transaction_time'].astype(str)
time.sleep(1)

# on cré une colonne de la tranche horaire
def get_tranche_horaire(hour):
    if 5 <= hour < 12:
        return "matin"
    elif 12 <= hour < 14:
        return "midi"
    elif 14 <= hour < 18:
        return "après-midi"
    elif 18 <= hour < 22:
        return "soir"
    else:
        return "nuit"

dfcopy["time_slot"] = dfcopy["hour"].apply(get_tranche_horaire)

# cré une colonne pour la saison pour une métrique plus poussée

spring   = ["March", "April", "May"] #pritemps
summer   = ["June", "July", "August"] # été
autumn   = ["September", "October", "November"] # automne
winter   = ["December", "January", "February"] #hiver

dfcopy["season"]= ""

def get_saison(month):
    if month in spring:
        return "spring"
    if month in summer:
        return "summer"
    if month in autumn:
        return autumn
    else:
        return "winter"
    
dfcopy["season"]=dfcopy["month"].apply(get_saison)

# on reorganise nos lignes par "id_transaction" ordre croissant

dfcopy = dfcopy.sort_values(by="product_id", ascending=True)

# On cré deux colonnes 'Longitude' et 'lattitude' et on enrichit avec des données externes, pour une carto graphie

import pandas as pd


# Exemple : liste unique des stores depuis ton dataframe
unique_stores = dfcopy['store_location'].dropna().unique()

# Initialise Nominatim
geolocator = Nominatim(user_agent="metabase_mapping")

# Stockage des résultats
locations = []

for store in unique_stores:
    try:
        # Utilise un nom de ville + "New York" ou autre si nécessaire
        location = geolocator.geocode(store + ", New York, USA", timeout=10)
        if location:
            print(f"{store} => {location.latitude}, {location.longitude}")
            locations.append({
                "store_name": store,
                "latitude": location.latitude,
                "longitude": location.longitude
            })
        else:
            print(f"Pas trouvé : {store}")
            locations.append({
                "store_name": store,
                "latitude": None,
                "longitude": None
            })
        time.sleep(1)  # Pour éviter de se faire bloquer par l'API
    except Exception as e:
        print(f"Erreur avec {store}: {e}")

# Convertir en DataFrame
store_geo_df = pd.DataFrame(locations)

# Visualisation ou export
print(store_geo_df.head())
store_geo_df.to_csv("store_locations_with_geo.csv", index=False)

coord_dict = {
    "Lower Manhattan": ["40.7135482", "-74.0054261"],
    "Hell's Kitchen": ["40.7644228", "-73.9923918"],
    "Astoria": ["40.7720145", "-73.9302673"]
}

dfcopy[["latitude", "longitude"]] = pd.DataFrame(dfcopy["store_location"].map(coord_dict).tolist(), index=dfcopy.index)
# Conversion des colonnes latitude et longitude en float (avec gestion des erreurs)
dfcopy['latitude'] = pd.to_numeric(dfcopy['latitude'], errors='coerce')
dfcopy['longitude'] = pd.to_numeric(dfcopy['longitude'], errors='coerce') #convertir la longitude et la latitude en float pour une visu map
dfcopy['recipe'] = pd.to_numeric(dfcopy['recipe'], errors='coerce')
dfcopy = dfcopy.dropna(subset=['latitude', 'longitude'])

dfcopy.to_sql(
    'coffee_sales', 
    engine, if_exists='replace',
    chunksize=1700, # insertion par bloc de 1700 lignes pour éviter les erreurs de mémoire
    index=False
)

# Reorganisons notre dataframe 

colonnes = ['product_id','product_detail','product_category','product_type',
            'unit_price','transaction_id','transaction_qty', 'transaction_date', 
            'transaction_time','store_id', 'store_location', 'recipe', 
            'weekday', 'day', 'month', 'hour', 'time_slot', 'season','year','full_date', 'latitude','longitude']
dfcopy = dfcopy[colonnes]
print('nombre de lignes du csv nettoyé :',df.shape)

In [ ]:
dfcopy.shape

In [ ]:
dfcopy1 = dfcopy
dfcopy2 = dfcopy1.dropna(subset=['latitude', 'longitude'])
dfcopy2.shape

In [ ]:
dfcopy.shape

# Requetes SQL de creation des tables  et insertion des donnée depuis la table coffee_sales

In [ ]:
from sqlalchemy import create_engine, text

# Configuration de la connexion à la base de données
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')

# Requêtes de création des tables (dimensions -> faits)
table_product_categorie = text("""CREATE TABLE IF NOT EXISTS product_categorie (
  id_categorie SERIAL PRIMARY KEY,
  categorie VARCHAR(50) UNIQUE
);""")

table_product_type = text("""CREATE TABLE IF NOT EXISTS product_type (
  id_type SERIAL PRIMARY KEY,
  type VARCHAR(50) UNIQUE
);""")

table_location_sales = text("""CREATE TABLE IF NOT EXISTS location_sales (
  id_location SERIAL PRIMARY KEY,
  store VARCHAR(100) UNIQUE,
  latitude FLOAT,
  longitude FLOAT
);""")

table_date_sales = text("""CREATE TABLE IF NOT EXISTS date_sales (
  id_date SERIAL PRIMARY KEY,
  full_date DATE UNIQUE,
  day INT,
  weekday VARCHAR(50),
  month VARCHAR(50),
  year INT,
  hour INT,
  time_slot VARCHAR(25)
);""")

table_season = text("""CREATE TABLE IF NOT EXISTS season (
  id_season SERIAL PRIMARY KEY,
  name VARCHAR(50) UNIQUE
);""")

table_product = text("""CREATE TABLE IF NOT EXISTS product (
  product_id SERIAL PRIMARY KEY,
  product_detail VARCHAR(255) UNIQUE,
  id_categorie INT REFERENCES product_categorie(id_categorie),
  id_type INT REFERENCES product_type(id_type),
  unit_price DECIMAL(10,2)
);""")

table_fact_sales = text("""
CREATE TABLE IF NOT EXISTS fact_sales (
  id_transaction INT PRIMARY KEY,  -- on récupère l'ID existant de coffee_sales
  product_id INT REFERENCES product(product_id),
  location_id INT REFERENCES location_sales(id_location),
  date_id INT REFERENCES date_sales(id_date),
  season_id INT REFERENCES season(id_season),
  quantity INT,
  unit_price DECIMAL(10,2)
);""")


# Requêtes d'insertion des données
insert_product_categorie = text("""
INSERT INTO product_categorie (categorie)
SELECT DISTINCT product_category FROM coffee_sales
ON CONFLICT (categorie) DO NOTHING;""")

insert_product_type = text("""
INSERT INTO product_type (type)
SELECT DISTINCT product_type FROM coffee_sales
ON CONFLICT (type) DO NOTHING;""")

insert_location_sales = text("""
INSERT INTO location_sales (store, latitude, longitude)
SELECT DISTINCT store_id, latitude, longitude FROM coffee_sales
ON CONFLICT (store) DO NOTHING;""")

insert_date_sales = text("""
INSERT INTO date_sales (full_date, day, weekday, month, year, hour, time_slot)
SELECT DISTINCT 
    transaction_date::DATE,
    day,
    weekday,
    month,
    year,
    hour,
    time_slot
FROM coffee_sales
ON CONFLICT (full_date) DO NOTHING;""")

insert_season = text("""
INSERT INTO season (name)
SELECT DISTINCT season FROM coffee_sales
ON CONFLICT (name) DO NOTHING;""")

insert_product = text("""
INSERT INTO product (product_detail, id_categorie, id_type, unit_price)
SELECT DISTINCT 
    cs.product_detail,
    pc.id_categorie,
    pt.id_type,
    cs.unit_price
FROM coffee_sales cs
JOIN product_categorie pc ON cs.product_category = pc.categorie
JOIN product_type pt ON cs.product_type = pt.type
ON CONFLICT (product_detail) DO NOTHING;""")

insert_fact_sales = text("""
INSERT INTO fact_sales (
    id_transaction,
    product_id,
    location_id,
    date_id,
    season_id,
    quantity,
    unit_price
)
SELECT 
    cs.transaction_id,
    p.product_id,
    ls.id_location,
    ds.id_date,
    s.id_season,
    cs.transaction_qty,
    cs.unit_price
FROM coffee_sales cs
JOIN product p ON cs.product_detail = p.product_detail
JOIN location_sales ls ON CAST(cs.store_id AS VARCHAR) = ls.store
JOIN date_sales ds ON cs.transaction_date::DATE = ds.full_date
JOIN season s ON cs.season = s.name;
""")


# Exécution du script complet
connection = None
try:
    # Établir la connexion
    connection = engine.connect()
    
    # Démarrer une transaction
    transaction = connection.begin()
    
    # 1. Création des tables
    creation_order = [
        table_product_categorie,
        table_product_type,
        table_location_sales,
        table_date_sales,
        table_season,
        table_product,
        table_fact_sales
    ]
    
    for query in creation_order:
        connection.execute(query)
    
    # 2. Insertion des données
    insertion_order = [
        insert_product_categorie,
        insert_product_type,
        insert_location_sales,
        insert_date_sales,
        insert_season,
        insert_product,
        insert_fact_sales
    ]
    
    for query in insertion_order:
        connection.execute(query)
    
    # 3. Création des index (après l'insertion pour optimiser les performances)
    connection.execute(text("""
    -- Index pour les clés étrangères fréquemment utilisées
    CREATE INDEX IF NOT EXISTS idx_fact_sales_product ON fact_sales(product_id);
    CREATE INDEX IF NOT EXISTS idx_fact_sales_location ON fact_sales(location_id);
    CREATE INDEX IF NOT EXISTS idx_fact_sales_date ON fact_sales(date_id);
    CREATE INDEX IF NOT EXISTS idx_fact_sales_season ON fact_sales(season_id);
    
    -- Index pour les requêtes combinant produit et date
    CREATE INDEX IF NOT EXISTS idx_fact_composite ON fact_sales(product_id, date_id);
    
    -- Mise à jour des statistiques pour l'optimiseur de requêtes
    ANALYZE fact_sales;
    """))
    
    # Valider la transaction
    transaction.commit()
    print("Operation completed successfully: tables created, data loaded, and indexes optimized")

except Exception as e:
    # Annuler la transaction en cas d'erreur
    print(f"Error occurred: {e}")
    if connection:
        transaction.rollback()
finally:
    # Fermer la connexion
    if connection:
        connection.close()

# Full code

In [ ]:
print("Debut de l'execution du cript de téléchargement des données")
print('\n')

import psycopg2
from sqlalchemy import create_engine, text
import pandas as pd
from io import StringIO
import psycopg2
import kagglehub
import shutil
import os

df = pd.read_excel("coffe_sales_.xlsx")
print('shape :',df.shape)
colonnes = df.columns.to_list()
print(f"{len(colonnes)}colonnes : {colonnes}")
df.head()

print("Fin de l'execution du script de téléchargement des données")
print('\n')
print("\n")
print("=====================================================================================================================================")
print("=====================================================================================================================================")


print("Debut de la creation de la base de donné coffe_sales")
print('\n')

# Connexion à la base postgres (par défaut pour créer une autre base)
conn = psycopg2.connect(
    host="localhost",
    dbname="postgres",
    user="postgres",
    password="1212",
    port="5432",
)
conn.autocommit = True
cur = conn.cursor()

# Vérifie si la BDD existe déjà
cur.execute("SELECT 1 FROM pg_database WHERE datname = 'coffee_sales'")
exists = cur.fetchone()

if not exists:
    cur.execute("CREATE DATABASE coffee_sales ENCODING 'LATIN1';")
    print("Base 'coffee_sales' créée.")
else:
    print("La base 'coffee_sales' existe déjà.")

cur.close()
conn.close()

# Connexion à la base coffee_sales
comm = psycopg2.connect(
    dbname="coffee_sales",
    user="postgres",
    password="1212",
    host="localhost",
    port="5432"
)

cur = comm.cursor()
cur.execute("SELECT 1")
if cur.fetchone():
    print("Connexion à la base 'coffee_sales' réussie.")
cur.close()
comm.close()

# Création de la table à partir du DataFrame
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')

## Envoi du DataFrame dans la BDD
df.to_sql(
    'coffee_sales', 
    engine, if_exists='replace',
    chunksize=1700, # insertion par bloc de 1700 lignes pour éviter les erreurs de mémoire
    index=False
)
print("Table 'coffee_sales' créée avec succès.")


query = '''select * from coffee_sales;'''
tables_check = """ SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'
"""
df = pd.read_sql("SELECT * FROM coffee_sales", engine)
tables_check =pd.read_sql(tables_check, engine)
display(tables_check)
dfcopy = df.copy()
dfcopy.head()

print("Fin de l'execution du script de cration de la base de connée coffee_sales")
print("\n\n")

print("=====================================================================================================================================")
print("=====================================================================================================================================")


print("Déburt du nettoyage des donnée et enrichissement du dataframe")

import locale
import time
locale.setlocale(locale.LC_TIME, 'en_EN.UTF-8')
from geopy.geocoders import Nominatim
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from io import StringIO
import kagglehub
import shutil
import os


df = pd.read_excel("coffe_sales_.xlsx")
print('nombre de lignes du csv brute :',df.shape)
colonnes = df.columns.to_list()
print(f"{len(colonnes)}colonnes : {colonnes}")
df.head()

# Connexion à la base postgres (par défaut pour créer une autre base)
conn = psycopg2.connect(
    host="localhost",
    dbname="postgres",
    user="postgres",
    password="1212",
    port="5432",
)
conn.autocommit = True
cur = conn.cursor()

# Vérifie si la BDD existe déjà
cur.execute("SELECT 1 FROM pg_database WHERE datname = 'coffee_sales'")
exists = cur.fetchone()

if not exists:
    cur.execute("CREATE DATABASE coffee_sales ENCODING 'LATIN1';")
    print("Base 'coffee_sales' créée.")
else:
    print("La base 'coffee_sales' existe déjà.")

cur.close()
conn.close()

# instance de Connexion à la base coffee_sales
comm = psycopg2.connect(
    dbname="coffee_sales",
    user="postgres",
    password="1212",
    host="localhost",
    port="5432"
)

cur = comm.cursor()
cur.execute("SELECT 1")
if cur.fetchone():
    print("Connexion à la base 'coffee_sales' réussie.")
cur.close()
comm.close()

# Création de la table à partir du DataFrame
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')

## Envoi du DataFrame dans la BDD
df.to_sql(
    'coffee_sales', 
    engine, if_exists='replace',
    chunksize=1700, # insertion par bloc de 1700 lignes pour éviter les erreurs de mémoire
    index=False
)
print("Table 'coffee_sales' créée avec succès.")


query = '''select * from coffee_sales;'''
tables_check = """ SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'
"""
df = pd.read_sql("SELECT * FROM coffee_sales", engine)
tables_check =pd.read_sql(tables_check, engine)
display(tables_check)
dfcopy = df.copy() # on cré une copie de notre df pour avoir un df 'backup' des données brutes

# oncré une colonne "recipe" qui nous aidera à calculer la recettes

dfcopy["recipe"]= dfcopy["transaction_qty"] * dfcopy["unit_price"] 

# convertissons la colonne transaction_date en datetime

dfcopy["transaction_date"] = pd.to_datetime(dfcopy["transaction_date"])
#dfcopy["transaction_time"] = pd.to_datetime(dfcopy["transaction_time"])

# on cré les colonne temporelles pour affiné nos métrique

dfcopy["hour"] = pd.to_datetime(dfcopy["transaction_time"], format="%H:%M:%S").dt.hour# heure de la journée
dfcopy["day"] = dfcopy["transaction_date"].dt.day # jour du mois
dfcopy["month"] = dfcopy["transaction_date"].dt.strftime("%B") # mois de l'année
dfcopy["weekday"] = dfcopy["transaction_date"].dt.strftime("%A") # jour de la semaine
dfcopy["year"]=dfcopy["transaction_date"].dt.year 

# on cree une colonne  avec la date complète pour faciliter l'analyse et on supprimme l'ancienne colonne transaction_date

dfcopy['full_date'] = dfcopy['transaction_date'].dt.strftime('%A, %#d %B %Y') +' '+ dfcopy['transaction_time'].astype(str)
time.sleep(1)

# on cré une colonne de la tranche horaire
def get_tranche_horaire(hour):
    if 5 <= hour < 12:
        return "matin"
    elif 12 <= hour < 14:
        return "midi"
    elif 14 <= hour < 18:
        return "après-midi"
    elif 18 <= hour < 22:
        return "soir"
    else:
        return "nuit"

dfcopy["time_slot"] = dfcopy["hour"].apply(get_tranche_horaire)

# cré une colonne pour la saison pour une métrique plus poussée

spring   = ["March", "April", "May"] #pritemps
summer   = ["June", "July", "August"] # été
autumn   = ["September", "October", "November"] # automne
winter   = ["December", "January", "February"] #hiver

dfcopy["season"]= ""

def get_saison(month):
    if month in spring:
        return "spring"
    if month in summer:
        return "summer"
    if month in autumn:
        return autumn
    else:
        return "winter"
    
dfcopy["season"]=dfcopy["month"].apply(get_saison)

# on reorganise nos lignes par "id_transaction" ordre croissant

dfcopy = dfcopy.sort_values(by="product_id", ascending=True)

# On cré deux colonnes 'Longitude' et 'lattitude' et on enrichit avec des données externes, pour une carto graphie

import pandas as pd


# Exemple : liste unique des stores depuis ton dataframe
unique_stores = dfcopy['store_location'].dropna().unique()

# Initialise Nominatim
geolocator = Nominatim(user_agent="metabase_mapping")

# Stockage des résultats
locations = []

for store in unique_stores:
    try:
        # Utilise un nom de ville + "New York" ou autre si nécessaire
        location = geolocator.geocode(store + ", New York, USA", timeout=10)
        if location:
            print(f"{store} => {location.latitude}, {location.longitude}")
            locations.append({
                "store_name": store,
                "latitude": location.latitude,
                "longitude": location.longitude
            })
        else:
            print(f"Pas trouvé : {store}")
            locations.append({
                "store_name": store,
                "latitude": None,
                "longitude": None
            })
        time.sleep(1)  # Pour éviter de se faire bloquer par l'API
    except Exception as e:
        print(f"Erreur avec {store}: {e}")

# Convertir en DataFrame
store_geo_df = pd.DataFrame(locations)

# Visualisation ou export
print(store_geo_df.head())
store_geo_df.to_csv("store_locations_with_geo.csv", index=False)

coord_dict = {
    "Lower Manhattan": ["40.7135482", "-74.0054261"],
    "Hell's Kitchen": ["40.7644228", "-73.9923918"],
    "Astoria": ["40.7720145", "-73.9302673"]
}

dfcopy[["latitude", "longitude"]] = pd.DataFrame(dfcopy["store_location"].map(coord_dict).tolist(), index=dfcopy.index)
# Conversion des colonnes latitude et longitude en float (avec gestion des erreurs)
dfcopy['latitude'] = pd.to_numeric(dfcopy['latitude'], errors='coerce')
dfcopy['longitude'] = pd.to_numeric(dfcopy['longitude'], errors='coerce') #convertir la longitude et la latitude en float pour une visu map
dfcopy['recipe'] = pd.to_numeric(dfcopy['recipe'], errors='coerce')
dfcopy = dfcopy.dropna(subset=['latitude', 'longitude'])

dfcopy.to_sql(
    'coffee_sales', 
    engine, if_exists='replace',
    chunksize=1700, # insertion par bloc de 1700 lignes pour éviter les erreurs de mémoire
    index=False
)

# Reorganisons notre dataframe 

colonnes = ['product_id','product_detail','product_category','product_type',
            'unit_price','transaction_id','transaction_qty', 'transaction_date', 
            'transaction_time','store_id', 'store_location', 'recipe', 
            'weekday', 'day', 'month', 'hour', 'time_slot', 'season','year','full_date', 'latitude','longitude']
dfcopy = dfcopy[colonnes]
print(("\n"))
print(f"Dataframe nettoyé {dfcopy.shape[0]} lignes  & {dfcopy.shape[1]} colonnes")
print("fin du nettoyage et insertion des du cvs nettoyé en base")
print("=====================================================================================================================================")
print("=====================================================================================================================================")

print("Debut de creation des tables dimentionnelle et insertions des données dans celles ci")
print("\n")


from sqlalchemy import create_engine, text

# Configuration de la connexion à la base de données
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')

# Requêtes de création des tables (dimensions -> faits)
table_product_categorie = text("""CREATE TABLE IF NOT EXISTS product_categorie (
  id_categorie SERIAL PRIMARY KEY,
  categorie VARCHAR(50) UNIQUE
);""")

table_product_type = text("""CREATE TABLE IF NOT EXISTS product_type (
  id_type SERIAL PRIMARY KEY,
  type VARCHAR(50) UNIQUE
);""")

table_location_sales = text("""CREATE TABLE IF NOT EXISTS location_sales (
  id_location SERIAL PRIMARY KEY,
  location VARCHAR(100) UNIQUE,
  latitude FLOAT,
  longitude FLOAT
);""")

table_date_sales = text("""CREATE TABLE IF NOT EXISTS date_sales (
  id_date SERIAL PRIMARY KEY,
  full_date DATE UNIQUE,
  day INT,
  weekday VARCHAR(50),
  month VARCHAR(50),
  year INT,
  hour INT,
  time_slot VARCHAR(25)
);""")

table_season = text("""CREATE TABLE IF NOT EXISTS season (
  id_season SERIAL PRIMARY KEY,
  name VARCHAR(50) UNIQUE
);""")

table_product = text("""CREATE TABLE IF NOT EXISTS product (
  product_id SERIAL PRIMARY KEY,
  product_detail VARCHAR(255) UNIQUE,
  id_categorie INT REFERENCES product_categorie(id_categorie),
  id_type INT REFERENCES product_type(id_type),
  unit_price DECIMAL(10,2)
);""")

table_fact_sales = text("""
CREATE TABLE IF NOT EXISTS fact_sales (
  id_transaction INT PRIMARY KEY,  -- on récupère l'ID existant de coffee_sales
  product_id INT REFERENCES product(product_id),
  location_id INT REFERENCES location_sales(id_location),
  date_id INT REFERENCES date_sales(id_date),
  season_id INT REFERENCES season(id_season),
  quantity INT,
  unit_price DECIMAL(10,2)
);""")


# Requêtes d'insertion des données
insert_product_categorie = text("""
INSERT INTO product_categorie (categorie)
SELECT DISTINCT product_category FROM coffee_sales
ON CONFLICT (categorie) DO NOTHING;""")

insert_product_type = text("""
INSERT INTO product_type (type)
SELECT DISTINCT product_type FROM coffee_sales
ON CONFLICT (type) DO NOTHING;""")

insert_location_sales = text("""
INSERT INTO location_sales (store, latitude, longitude)
SELECT DISTINCT store_location, latitude, longitude FROM coffee_sales
ON CONFLICT (store) DO NOTHING;""")

insert_date_sales = text("""
INSERT INTO date_sales (full_date, day, weekday, month, year, hour, time_slot)
SELECT DISTINCT 
    transaction_date::DATE,
    day,
    weekday,
    month,
    year,
    hour,
    time_slot
FROM coffee_sales
ON CONFLICT (full_date) DO NOTHING;""")

insert_season = text("""
INSERT INTO season (name)
SELECT DISTINCT season FROM coffee_sales
ON CONFLICT (name) DO NOTHING;""")

insert_product = text("""
INSERT INTO product (product_detail, id_categorie, id_type, unit_price)
SELECT DISTINCT 
    cs.product_detail,
    pc.id_categorie,
    pt.id_type,
    cs.unit_price
FROM coffee_sales cs
JOIN product_categorie pc ON cs.product_category = pc.categorie
JOIN product_type pt ON cs.product_type = pt.type
ON CONFLICT (product_detail) DO NOTHING;""")

insert_fact_sales = text("""
INSERT INTO fact_sales (
    id_transaction,
    product_id,
    location_id,
    date_id,
    season_id,
    quantity,
    unit_price
)
SELECT 
    cs.transaction_id,
    p.product_id,
    ls.id_location,
    ds.id_date,
    s.id_season,
    cs.transaction_qty,
    cs.unit_price
FROM coffee_sales cs
JOIN product p ON cs.product_detail = p.product_detail
JOIN location_sales ls ON CAST(cs.store_id AS VARCHAR) = ls.store
JOIN date_sales ds ON cs.transaction_date::DATE = ds.full_date
JOIN season s ON cs.season = s.name;
""")


# Exécution du script complet
connection = None
try:
    # Établir la connexion
    connection = engine.connect()
    
    # Démarrer une transaction
    transaction = connection.begin()
    
    # 1. Création des tables
    creation_order = [
        table_product_categorie,
        table_product_type,
        table_location_sales,
        table_date_sales,
        table_season,
        table_product,
        table_fact_sales
    ]
    
    for query in creation_order:
        connection.execute(query)
    
    # 2. Insertion des données
    insertion_order = [
        insert_product_categorie,
        insert_product_type,
        insert_location_sales,
        insert_date_sales,
        insert_season,
        insert_product,
        insert_fact_sales
    ]
    
    for query in insertion_order:
        connection.execute(query)
    
    # 3. Création des index (après l'insertion pour optimiser les performances)
    connection.execute(text("""
    -- Index pour les clés étrangères fréquemment utilisées
    CREATE INDEX IF NOT EXISTS idx_fact_sales_product ON fact_sales(product_id);
    CREATE INDEX IF NOT EXISTS idx_fact_sales_location ON fact_sales(location_id);
    CREATE INDEX IF NOT EXISTS idx_fact_sales_date ON fact_sales(date_id);
    CREATE INDEX IF NOT EXISTS idx_fact_sales_season ON fact_sales(season_id);
    
    -- Index pour les requêtes combinant produit et date
    CREATE INDEX IF NOT EXISTS idx_fact_composite ON fact_sales(product_id, date_id);
    
    -- Mise à jour des statistiques pour l'optimiseur de requêtes
    ANALYZE fact_sales;
    """))
    
    # Valider la transaction
    transaction.commit()
    print("Operation completed successfully: tables created, data loaded, and indexes optimized")

except Exception as e:
    # Annuler la transaction en cas d'erreur
    print(f"Error occurred: {e}")
    if connection:
        transaction.rollback()
finally:
    # Fermer la connexion
    if connection:
        connection.close()


print("=====================================================================================================================================")
print("=================================================== FIN D'EXECUTION  DU SCRIPT COMPLET ===============================")
print("=====================================================================================================================================")

In [ ]:
print("Début de l'exécution du script de téléchargement des données\n")

import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2
import time
from geopy.geocoders import Nominatim

# Chargement des données
df = pd.read_excel("coffe_sales_.xlsx")
print('Shape :', df.shape)
print(f"{len(df.columns)} colonnes : {df.columns.tolist()}")

print("Fin de l'exécution du script de téléchargement des données\n")
print("="*150)

print("Début de la création de la base de données 'coffee_sales'\n")

# Connexion à PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    dbname="postgres",
    user="postgres",
    password="1212",
    port="5432"
)
conn.autocommit = True
cur = conn.cursor()

# Création BDD si elle n'existe pas
cur.execute("SELECT 1 FROM pg_database WHERE datname = 'coffee_sales'")
if not cur.fetchone():
    cur.execute("CREATE DATABASE coffee_sales ENCODING 'LATIN1';")
    print("Base 'coffee_sales' créée.")
else:
    print("La base 'coffee_sales' existe déjà.")
cur.close()
conn.close()

# Connexion à la base coffee_sales
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')

# Envoi du DataFrame en base
df.to_sql('coffee_sales', engine, if_exists='replace', chunksize=1700, index=False)
print("Table 'coffee_sales' créée avec succès.")

print("Fin de la création de la base de données\n")
print("="*150)

print("Début du nettoyage et enrichissement des données\n")

dfcopy = df.copy()
dfcopy["recipe"] = dfcopy["transaction_qty"] * dfcopy["unit_price"]
dfcopy["transaction_date"] = pd.to_datetime(dfcopy["transaction_date"])
dfcopy["hour"] = pd.to_datetime(dfcopy["transaction_time"], format="%H:%M:%S").dt.hour
dfcopy["day"] = dfcopy["transaction_date"].dt.day
dfcopy["month"] = dfcopy["transaction_date"].dt.strftime("%B")
dfcopy["weekday"] = dfcopy["transaction_date"].dt.strftime("%A")
dfcopy["year"] = dfcopy["transaction_date"].dt.year
dfcopy['full_date'] = dfcopy['transaction_date'].dt.strftime('%A, %#d %B %Y') + ' ' + dfcopy['transaction_time'].astype(str)

def get_tranche_horaire(hour):
    if 5 <= hour < 12: return "matin"
    if 12 <= hour < 14: return "midi"
    if 14 <= hour < 18: return "après-midi"
    if 18 <= hour < 22: return "soir"
    return "nuit"
dfcopy["time_slot"] = dfcopy["hour"].apply(get_tranche_horaire)

def get_saison(month):
    if month in ["March", "April", "May"]: return "spring"
    if month in ["June", "July", "August"]: return "summer"
    if month in ["September", "October", "November"]: return "autumn"
    return "winter"
dfcopy["season"] = dfcopy["month"].apply(get_saison)

dfcopy = dfcopy.sort_values(by="product_id", ascending=True)

coord_dict = {
    "Lower Manhattan": ["40.7135482", "-74.0054261"],
    "Hell's Kitchen": ["40.7644228", "-73.9923918"],
    "Astoria": ["40.7720145", "-73.9302673"]
}
dfcopy[["latitude", "longitude"]] = pd.DataFrame(dfcopy["store_location"].map(coord_dict).tolist(), index=dfcopy.index)
dfcopy['latitude'] = pd.to_numeric(dfcopy['latitude'], errors='coerce')
dfcopy['longitude'] = pd.to_numeric(dfcopy['longitude'], errors='coerce')
dfcopy['recipe'] = pd.to_numeric(dfcopy['recipe'], errors='coerce')
dfcopy = dfcopy.dropna(subset=['latitude', 'longitude'])

dfcopy.to_sql('coffee_sales', engine, if_exists='replace', chunksize=1700, index=False)

colonnes = ['product_id','product_detail','product_category','product_type',
            'unit_price','transaction_id','transaction_qty', 'transaction_date', 
            'transaction_time', 'store_location', 'recipe', 
            'weekday', 'day', 'month', 'hour', 'time_slot', 'season','year','full_date', 'latitude','longitude']
dfcopy = dfcopy[colonnes]
print(f"\nDataframe nettoyé : {dfcopy.shape[0]} lignes & {dfcopy.shape[1]} colonnes")
print("Fin du nettoyage des données\n")
print("="*150)

print("Début de la création des tables dimensionnelles et des insertions\n")

# Requêtes de création de tables
create_statements = [
    text("""CREATE TABLE IF NOT EXISTS product_categorie (
      id_categorie SERIAL PRIMARY KEY,
      categorie VARCHAR(50) UNIQUE
    );"""),

    text("""CREATE TABLE IF NOT EXISTS product_type (
      id_type SERIAL PRIMARY KEY,
      type VARCHAR(50) UNIQUE
    );"""),

    text("""CREATE TABLE IF NOT EXISTS location_sales (
      id_location SERIAL PRIMARY KEY,
      store VARCHAR(100) UNIQUE,
      latitude FLOAT,
      longitude FLOAT
    );"""),

    text("""CREATE TABLE IF NOT EXISTS date_sales (
      id_date SERIAL PRIMARY KEY,
      full_date DATE UNIQUE,
      day INT,
      weekday VARCHAR(50),
      month VARCHAR(50),
      year INT,
      hour INT,
      time_slot VARCHAR(25)
    );"""),

    text("""CREATE TABLE IF NOT EXISTS season (
      id_season SERIAL PRIMARY KEY,
      name VARCHAR(50) UNIQUE
    );"""),

    text("""CREATE TABLE IF NOT EXISTS product (
      product_id SERIAL PRIMARY KEY,
      product_detail VARCHAR(255) UNIQUE,
      id_categorie INT REFERENCES product_categorie(id_categorie),
      id_type INT REFERENCES product_type(id_type),
      unit_price DECIMAL(10,2)
    );"""),

    text("""CREATE TABLE IF NOT EXISTS fact_sales (
      id_transaction INT PRIMARY KEY,
      product_id INT REFERENCES product(product_id),
      location_id INT REFERENCES location_sales(id_location),
      date_id INT REFERENCES date_sales(id_date),
      season_id INT REFERENCES season(id_season),
      quantity INT,
      unit_price DECIMAL(10,2)
    );""")
]

# Requêtes d'insertion
insert_statements = [
    text("""INSERT INTO product_categorie (categorie)
        SELECT DISTINCT product_category FROM coffee_sales
        ON CONFLICT (categorie) DO NOTHING;"""),

    text("""INSERT INTO product_type (type)
        SELECT DISTINCT product_type FROM coffee_sales
        ON CONFLICT (type) DO NOTHING;"""),

    text("""INSERT INTO location_sales (store, latitude, longitude)
        SELECT DISTINCT store_id, latitude, longitude FROM coffee_sales
        ON CONFLICT (store) DO NOTHING;"""),

    text("""INSERT INTO date_sales (full_date, day, weekday, month, year, hour, time_slot)
        SELECT DISTINCT 
            transaction_date::DATE, day, weekday, month, year, hour, time_slot
        FROM coffee_sales
        ON CONFLICT (full_date) DO NOTHING;"""),

    text("""INSERT INTO season (name)
        SELECT DISTINCT season FROM coffee_sales
        ON CONFLICT (name) DO NOTHING;"""),

    text("""INSERT INTO product (product_detail, id_categorie, id_type, unit_price)
        SELECT DISTINCT 
            cs.product_detail,
            pc.id_categorie,
            pt.id_type,
            cs.unit_price
        FROM coffee_sales cs
        JOIN product_categorie pc ON cs.product_category = pc.categorie
        JOIN product_type pt ON cs.product_type = pt.type
        ON CONFLICT (product_detail) DO NOTHING;"""),

    text("""INSERT INTO fact_sales (
        id_transaction,
        product_id,
        location_id,
        date_id,
        season_id,
        quantity,
        unit_price
    )
    SELECT 
        cs.transaction_id,
        p.product_id,
        ls.id_location,
        ds.id_date,
        s.id_season,
        cs.transaction_qty,
        cs.unit_price
    FROM coffee_sales cs
    JOIN product p ON cs.product_detail = p.product_detail
    JOIN location_sales ls ON CAST(cs.location AS VARCHAR) = ls.store
    JOIN date_sales ds ON cs.transaction_date::DATE = ds.full_date
    JOIN season s ON cs.season = s.name;""")
]

# Exécution des requêtes
with engine.connect() as connection:
    transaction = connection.begin()
    try:
        for stmt in create_statements:
            connection.execute(stmt)

        for stmt in insert_statements:
            connection.execute(stmt)

        connection.execute(text("""
        CREATE INDEX IF NOT EXISTS idx_fact_sales_product ON fact_sales(product_id);
        CREATE INDEX IF NOT EXISTS idx_fact_sales_location ON fact_sales(location_id);
        CREATE INDEX IF NOT EXISTS idx_fact_sales_date ON fact_sales(date_id);
        CREATE INDEX IF NOT EXISTS idx_fact_sales_season ON fact_sales(season_id);
        CREATE INDEX IF NOT EXISTS idx_fact_composite ON fact_sales(product_id, date_id);
        ANALYZE fact_sales;
        """))

        transaction.commit()
        print("Opération réussie : tables créées, données insérées, index optimisés")

    except Exception as e:
        transaction.rollback()
        print(f"Erreur : {e}")

print("="*150)
print("========================= FIN D'EXÉCUTION DU SCRIPT =========================")
print("="*150)

# Code complet

In [ ]:
import psycopg2
from sqlalchemy import create_engine, text
import pandas as pd
import time
from geopy.geocoders import Nominatim
import locale
import os
import shutil



print("Debut de l'execution du script de téléchargement des données...")

# Téléchargement et affichage du jeu de données "Coffee Sales" depuis Kaggle
# Assurez-vous d'avoir installé kagglehub avec `pip install kagglehub`
def download_dataset(path):
    df = None
    try:
        path = kagglehub.dataset_download("ahmedabbas757/coffee-sales")
        
        files = os.listdir(path)
        excel_files = [f for f in files if f.endswith('.xlsx')]
        
        if excel_files:
            df = pd.read_excel(f"{path}/{excel_files[0]}")
            shutil.rmtree(path)
        else:
            print("Aucun fichier CSV trouvé dans le dossier téléchargé.")
        
    except Exception as e:
        print(f"Erreur : {e}")

    return df

download_dataset("coffee_sales")


df = download_dataset("coffee_sales")

print("Fin de l'execution du script de téléchargement des données")
print("\n=====================================================================================================================================")
print("Debut de la creation de la base de donné coffee_sales")

# Création de la base si elle n'existe pas
conn = psycopg2.connect(host="localhost", dbname="postgres", user="postgres", password="1212", port="5432")
conn.autocommit = True
cur = conn.cursor()
cur.execute("SELECT 1 FROM pg_database WHERE datname = 'coffee_sales'")
if not cur.fetchone():
    cur.execute("CREATE DATABASE coffee_sales ENCODING 'UTF8';")
    print("Base 'coffee_sales' créée.")
else:
    print("La base 'coffee_sales' existe déjà.")
cur.close()
conn.close()

# Connexion avec SQLAlchemy
engine = create_engine('postgresql+psycopg2://postgres:1212@localhost:5432/coffee_sales')
df.to_sql('coffee_sales', engine, if_exists='replace', chunksize=1700, index=False)
print("Table 'coffee_sales' créée avec succès.")

print("\nFin de l'execution du script de creation de la base de donnée coffee_sales")
print("\n=====================================================================================================================================")
print("Début du nettoyage des données et enrichissement du dataframe")

# Nettoyage des données
locale.setlocale(locale.LC_TIME, 'en_EN.UTF-8')
dfcopy = df.copy()
dfcopy["recipe"] = dfcopy["transaction_qty"] * dfcopy["unit_price"]
dfcopy["transaction_date"] = pd.to_datetime(dfcopy["transaction_date"])
dfcopy["hour"] = pd.to_datetime(dfcopy["transaction_time"], format="%H:%M:%S").dt.hour
dfcopy["day"] = dfcopy["transaction_date"].dt.day
dfcopy["month"] = dfcopy["transaction_date"].dt.strftime("%B")
dfcopy["weekday"] = dfcopy["transaction_date"].dt.strftime("%A")
dfcopy["year"] = dfcopy["transaction_date"].dt.year
dfcopy['full_date'] = dfcopy['transaction_date'].dt.strftime('%Y-%m-%d')

def get_tranche_horaire(hour):
    if 5 <= hour < 12:
        return "matin"
    elif 12 <= hour < 14:
        return "midi"
    elif 14 <= hour < 18:
        return "après-midi"
    elif 18 <= hour < 22:
        return "soir"
    else:
        return "nuit"

dfcopy["time_slot"] = dfcopy["hour"].apply(get_tranche_horaire)

seasons = {"March": "spring", "April": "spring", "May": "spring",
           "June": "summer", "July": "summer", "August": "summer",
           "September": "autumn", "October": "autumn", "November": "autumn",
           "December": "winter", "January": "winter", "February": "winter"}
dfcopy["season"] = dfcopy["month"].map(seasons)

geolocator = Nominatim(user_agent="geoapi")
unique_stores = dfcopy['store_location'].dropna().unique()
locations = []

for store in unique_stores:
    try:
        location = geolocator.geocode(store + ", New York, USA", timeout=10)
        if location:
            locations.append({"store_name": store, "latitude": location.latitude, "longitude": location.longitude})
        else:
            locations.append({"store_name": store, "latitude": None, "longitude": None})
        time.sleep(1)
    except Exception as e:
        print(f"Erreur avec {store}: {e}")

geo_df = pd.DataFrame(locations)
coord_dict = geo_df.set_index("store_name").to_dict("index")
dfcopy[["latitude", "longitude"]] = pd.DataFrame(dfcopy["store_location"].map(lambda x: coord_dict.get(x, {"latitude": None, "longitude": None})).tolist(), index=dfcopy.index)
dfcopy['latitude'] = pd.to_numeric(dfcopy['latitude'], errors='coerce')
dfcopy['longitude'] = pd.to_numeric(dfcopy['longitude'], errors='coerce')
dfcopy['recipe'] = pd.to_numeric(dfcopy['recipe'], errors='coerce')
dfcopy = dfcopy.dropna(subset=['latitude', 'longitude'])
dfcopy.to_sql('coffee_sales', engine, if_exists='replace', chunksize=1700, index=False)

print(f"Dataframe nettoyé {dfcopy.shape[0]} lignes & {dfcopy.shape[1]} colonnes")

print("Fin du nettoyage et insertion des données nettoyées en base")
print("\n=====================================================================================================================================")
print("Debut de creation des tables dimensionnelles et insertion")

# Creation des tables
schemas = [
    """CREATE TABLE IF NOT EXISTS product_categorie (id_categorie SERIAL PRIMARY KEY, categorie VARCHAR(50) UNIQUE);""",
    """CREATE TABLE IF NOT EXISTS product_type (id_type SERIAL PRIMARY KEY, type VARCHAR(50) UNIQUE);""",
    """CREATE TABLE IF NOT EXISTS location_sales (id_location SERIAL PRIMARY KEY, store_location VARCHAR(100) UNIQUE, latitude FLOAT, longitude FLOAT);""",
    """CREATE TABLE IF NOT EXISTS date_sales (id_date SERIAL PRIMARY KEY, full_date DATE UNIQUE, day INT, weekday VARCHAR(50), month VARCHAR(50), year INT, hour INT, time_slot VARCHAR(25));""",
    """CREATE TABLE IF NOT EXISTS season (id_season SERIAL PRIMARY KEY, name VARCHAR(50) UNIQUE);""",
    """CREATE TABLE IF NOT EXISTS product (product_id SERIAL PRIMARY KEY, product_detail VARCHAR(255) UNIQUE, id_categorie INT REFERENCES product_categorie(id_categorie), id_type INT REFERENCES product_type(id_type), unit_price DECIMAL(10,2));""",
    """CREATE TABLE IF NOT EXISTS fact_sales (id_transaction INT PRIMARY KEY, product_id INT REFERENCES product(product_id), location_id INT REFERENCES location_sales(id_location), date_id INT REFERENCES date_sales(id_date), season_id INT REFERENCES season(id_season), quantity INT, unit_price DECIMAL(10,2));"""
]

inserts = [
    """INSERT INTO product_categorie (categorie) SELECT DISTINCT product_category FROM coffee_sales ON CONFLICT (categorie) DO NOTHING;""",
    """INSERT INTO product_type (type) SELECT DISTINCT product_type FROM coffee_sales ON CONFLICT (type) DO NOTHING;""",
    """INSERT INTO location_sales (store_location, latitude, longitude) SELECT DISTINCT store_location, latitude, longitude FROM coffee_sales ON CONFLICT (store_location) DO NOTHING;""",
    """INSERT INTO date_sales (full_date, day, weekday, month, year, hour, time_slot) SELECT DISTINCT transaction_date::DATE, day, weekday, month, year, hour, time_slot FROM coffee_sales ON CONFLICT (full_date) DO NOTHING;""",
    """INSERT INTO season (name) SELECT DISTINCT season FROM coffee_sales ON CONFLICT (name) DO NOTHING;""",
    """INSERT INTO product (product_detail, id_categorie, id_type, unit_price) SELECT DISTINCT cs.product_detail, pc.id_categorie, pt.id_type, cs.unit_price FROM coffee_sales cs JOIN product_categorie pc ON cs.product_category = pc.categorie JOIN product_type pt ON cs.product_type = pt.type ON CONFLICT (product_detail) DO NOTHING;""",
    """INSERT INTO fact_sales (id_transaction, product_id, location_id, date_id, season_id, quantity, unit_price) SELECT cs.transaction_id, p.product_id, ls.id_location, ds.id_date, s.id_season, cs.transaction_qty, cs.unit_price FROM coffee_sales cs JOIN product p ON cs.product_detail = p.product_detail JOIN location_sales ls ON CAST(cs.store_location AS VARCHAR) = ls.store_location JOIN date_sales ds ON cs.transaction_date::DATE = ds.full_date JOIN season s ON cs.season = s.name;"""
]

# creation des index (performance des requetes)
with engine.connect() as conn:
    trans = conn.begin()
    try:
        for schema in schemas:
            conn.execute(text(schema))
        for insert in inserts:
            conn.execute(text(insert))

        # Indexation
        conn.execute(text("""
            CREATE INDEX IF NOT EXISTS idx_fact_sales_product ON fact_sales(product_id);
            CREATE INDEX IF NOT EXISTS idx_fact_sales_location ON fact_sales(location_id);
            CREATE INDEX IF NOT EXISTS idx_fact_sales_date ON fact_sales(date_id);
            CREATE INDEX IF NOT EXISTS idx_fact_sales_season ON fact_sales(season_id);
            CREATE INDEX IF NOT EXISTS idx_fact_composite ON fact_sales(product_id, date_id);
            ANALYZE fact_sales;
        """))

        trans.commit()
        print("Operation completed successfully: tables created, data loaded, and indexes optimized")
    except Exception as e:
        trans.rollback()
        print("Error occurred:", e)

print("\n=================================================== FIN D'EXECUTION DU SCRIPT COMPLET ===============================")

In [ ]:
dfcopy.head(1)

In [ ]:
import os
import pandas as pd

old_name = 'About dataset.txt'
new_name = 'consigne.txt'
if os.path.exists(old_name):
    os.rename(old_name, new_name)
else:
    print(f"Le fichier {old_name} n'existe pas.")
consigne = pd.read_csv("consigne.txt", sep="\t", header=None, names=["Consigne"])
consigne.head()

In [ ]:
import psycopg2

dsn = "host=localhost dbname=coffee_sales user=postgres password=1212 port=5432"

conn = psycopg2.connect(dsn)
cur = conn.cursor()
print("Connexion réussie")

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import datetime

# 🔐 Connexion PostgreSQL
engine = create_engine("postgresql+psycopg2://postgres:<votre_mot_de_passe>@localhost:5432/coffee_sales")
conn = engine.connect()

# 1️⃣ Chargement & enrichissement
df = pd.read_csv("coffee_sales.csv")
df['transaction_date'] = pd.to_datetime(df['transaction_date'])
df['season'] = df['transaction_date'].dt.month.map({
    12: 'Winter', 1: 'Winter', 2: 'Winter',
    3: 'Spring', 4: 'Spring', 5: 'Spring',
    6: 'Summer', 7: 'Summer', 8: 'Summer',
    9: 'Autumn', 10: 'Autumn', 11: 'Autumn'
})
df['full_date'] = df['transaction_date'].dt.date

# 2️⃣ Insertion dans table brute
df.to_sql("coffee_sales", engine, if_exists='replace', index=False)

# 3️⃣ Création des dimensions
conn.execute(text("""
CREATE TABLE IF NOT EXISTS product (
    product_id SERIAL PRIMARY KEY,
    product_detail TEXT UNIQUE
);
INSERT INTO product (product_detail)
SELECT DISTINCT product_detail FROM coffee_sales
ON CONFLICT DO NOTHING;
"""))

conn.execute(text("""
CREATE TABLE IF NOT EXISTS location_sales (
    id_location SERIAL PRIMARY KEY,
    store TEXT UNIQUE,
    store_location TEXT
);
INSERT INTO location_sales (store, store_location)
SELECT DISTINCT store_id::TEXT, store_location FROM coffee_sales
ON CONFLICT DO NOTHING;
"""))

conn.execute(text("""
CREATE TABLE IF NOT EXISTS date_sales (
    id_date SERIAL PRIMARY KEY,
    full_date DATE UNIQUE,
    day INT,
    month INT,
    year INT
);
INSERT INTO date_sales (full_date, day, month, year)
SELECT DISTINCT full_date, EXTRACT(DAY FROM transaction_date),
       EXTRACT(MONTH FROM transaction_date),
       EXTRACT(YEAR FROM transaction_date)
FROM coffee_sales
ON CONFLICT DO NOTHING;
"""))

conn.execute(text("""
CREATE TABLE IF NOT EXISTS season (
    id_season SERIAL PRIMARY KEY,
    name TEXT UNIQUE
);
INSERT INTO season (name)
SELECT DISTINCT season FROM coffee_sales
ON CONFLICT DO NOTHING;
"""))

# 4️⃣ Table de faits + insertion avec gestion des conflits
conn.execute(text("""
CREATE TABLE IF NOT EXISTS fact_sales (
    id_transaction INT PRIMARY KEY,
    product_id INT REFERENCES product(product_id),
    location_id INT REFERENCES location_sales(id_location),
    date_id INT REFERENCES date_sales(id_date),
    season_id INT REFERENCES season(id_season),
    quantity INT,
    unit_price DECIMAL(10,2),
    created_at TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP
);
"""))

conn.execute(text("""
INSERT INTO fact_sales (
    id_transaction,
    product_id,
    location_id,
    date_id,
    season_id,
    quantity,
    unit_price,
    created_at,
    updated_at
)
SELECT 
    cs.transaction_id,
    p.product_id,
    ls.id_location,
    ds.id_date,
    s.id_season,
    cs.transaction_qty,
    cs.unit_price,
    CURRENT_TIMESTAMP,
    CURRENT_TIMESTAMP
FROM coffee_sales cs
JOIN product p ON cs.product_detail = p.product_detail
JOIN location_sales ls ON CAST(cs.store_id AS TEXT) = ls.store
JOIN date_sales ds ON cs.full_date = ds.full_date
JOIN season s ON cs.season = s.name
ON CONFLICT (id_transaction) DO UPDATE SET 
    product_id = EXCLUDED.product_id,
    location_id = EXCLUDED.location_id,
    date_id = EXCLUDED.date_id,
    season_id = EXCLUDED.season_id,
    quantity = EXCLUDED.quantity,
    unit_price = EXCLUDED.unit_price,
    updated_at = CURRENT_TIMESTAMP;
"""))

# 5️⃣ Journalisation des changements
conn.execute(text("""
CREATE TABLE IF NOT EXISTS audit_fact_sales (
    audit_id SERIAL PRIMARY KEY,
    id_transaction INT,
    operation_type TEXT,
    operation_timestamp TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP
);
"""))

conn.execute(text("""
CREATE OR REPLACE FUNCTION log_fact_sales_change() RETURNS TRIGGER AS $$
BEGIN
    IF TG_OP = 'INSERT' THEN
        INSERT INTO audit_fact_sales(id_transaction, operation_type)
        VALUES (NEW.id_transaction, 'INSERT');
    ELSIF TG_OP = 'UPDATE' THEN
        INSERT INTO audit_fact_sales(id_transaction, operation_type)
        VALUES (NEW.id_transaction, 'UPDATE');
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;
"""))

conn.execute(text("""
DROP TRIGGER IF EXISTS trg_audit_fact_sales ON fact_sales;
CREATE TRIGGER trg_audit_fact_sales
AFTER INSERT OR UPDATE ON fact_sales
FOR EACH ROW EXECUTE FUNCTION log_fact_sales_change();
"""))

print(\"\\n✅ Pipeline complet exécuté avec succès.\")
conn.close()

In [ ]:
dfcopy

In [ ]:
# focntion de lecture du fichier d'un fichier texte.
import os

def read_file():
    file_path = input("Enter the file path (e.g., 'consigne.txt'): ")
    if os.path.isfile(file_path):
        with open(file_path, 'r', encoding='utf-8') as file:
            return file.read()
    else:
        return "Le fichier spécifié n'existe pas."

# Appel de la fonction
content = read_file()
print(content)

In [ ]:

# recuperons les longitude lattitude des stores location
%pip install geopy pandas

In [ ]:
dfcopy.head()